In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import seaborn as sns
import re

from scipy import stats
from scipy.stats import skew
from sklearn import linear_model
from sklearn.preprocessing import RobustScaler, StandardScaler
from sklearn.linear_model import LogisticRegression

import sklearn.model_selection as ms
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

pd.set_option('display.max_columns',99)
pd.set_option('display.max_rows',300)

In [2]:
test_dataset = pd.read_csv('./test_dataset.csv')
train_dataset = pd.read_csv('./train_dataset.csv')
#import datasets

In [3]:
print(train_dataset.shape)
print(test_dataset.shape)
#get shape of train and test data set

(91589, 50)
(10177, 50)

In [4]:
train_dataset['dataset'] = 'train'
test_dataset['dataset'] = 'test'
#add new column to make separating easier later

In [5]:
merged_data = pd.concat([train_dataset, test_dataset], axis=0)
merged_data.shape
#merge data set

(101766, 51)

In [6]:
df = merged_data.copy(deep=True)
#make a copy for data exploration

### Data Exploration

#### Exploring the target variable, readmitted rate

In [7]:
def summarize_feature(dataframe,feature):
    feature_summary = {'values':dataframe[feature].value_counts().index.tolist(),
                     'counts':dataframe[feature].value_counts().values.tolist(),
                     'frequency': dataframe[feature].value_counts(normalize = True).values.tolist()}
    feature_summary = pd.DataFrame(feature_summary)
    return feature_summary

In [8]:
summarize_feature(df, 'readmitted')

  values  counts  frequency
0     NO   54864   0.539119
1    >30   35545   0.349282
2    <30   11357   0.111599

In [9]:
df['readmitted'] = df['readmitted'].replace('<30', 1)
df['readmitted'] = df['readmitted'].replace('>30', 0)
df['readmitted'] = df['readmitted'].replace('NO', 0)
#replace target variable with numerical value

In [10]:
summarize_feature(df, 'readmitted')

   values  counts  frequency
0       0   90409   0.888401
1       1   11357   0.111599

### feature examination

In [11]:
summarize_feature(df, 'race')

            values  counts  frequency
0        Caucasian   76099   0.747784
1  AfricanAmerican   19210   0.188766
2                ?    2273   0.022336
3         Hispanic    2037   0.020017
4            Other    1506   0.014799
5            Asian     641   0.006299

In [12]:
dict_race = {'?': -999, 'Caucasian':1, 'AfricanAmerican':2,'Asian':3,'Other':4,'Hispanic':5}
df.race.replace(dict_race, inplace=True)
#impute race feature with nominal values, '?' is imputed with -999

In [13]:
summarize_feature(df, 'race')

   values  counts  frequency
0       1   76099   0.747784
1       2   19210   0.188766
2    -999    2273   0.022336
3       5    2037   0.020017
4       4    1506   0.014799
5       3     641   0.006299

In [14]:
summarize_feature(df, 'gender')

            values  counts  frequency
0           Female   54708   0.537586
1             Male   47055   0.462384
2  Unknown/Invalid       3   0.000029

In [15]:
df = df[df.gender != 'Unknown/Invalid']
#only 3 unknown/invalid, drop rows

In [16]:
dict_gender = {'Female':0, 'Male':1}
df.gender.replace(dict_gender, inplace=True)
#impute gender feature with nominal value

In [17]:
summarize_feature(df, 'gender')

   values  counts  frequency
0       0   54708   0.537602
1       1   47055   0.462398

In [18]:
summarize_feature(df, 'age')

     values  counts  frequency
0   [70-80)   26066   0.256144
1   [60-70)   22482   0.220925
2   [50-60)   17256   0.169570
3   [80-90)   17197   0.168991
4   [40-50)    9685   0.095172
5   [30-40)    3775   0.037096
6  [90-100)    2793   0.027446
7   [20-30)    1657   0.016283
8   [10-20)     691   0.006790
9    [0-10)     161   0.001582

In [19]:
dict_age = {'[60-70)': 65, 
            '[40-50)':45, 
            '[80-90)':85,
               '[70-80)':75,
               '[50-60)':55,
               '[20-30)':25,
               '[90-100)':95,
               '[30-40)':35,
               '[0-10)':5,
               '[10-20)':15}
df.age.replace(dict_age, inplace=True)
#impute age feature with median num

In [20]:
summarize_feature(df, 'age')

   values  counts  frequency
0      75   26066   0.256144
1      65   22482   0.220925
2      55   17256   0.169570
3      85   17197   0.168991
4      45    9685   0.095172
5      35    3775   0.037096
6      95    2793   0.027446
7      25    1657   0.016283
8      15     691   0.006790
9       5     161   0.001582

In [21]:
# Creating additional columns for diagnosis
df['level1_diag1'] = df['diag_1']
df['level1_diag2'] = df['diag_2']
df['level1_diag3'] = df['diag_3']

In [22]:
df.loc[df['diag_1'].str.contains('V'), ['level1_diag1']] = 0
df.loc[df['diag_1'].str.contains('E'), ['level1_diag1']] = 0
df.loc[df['diag_2'].str.contains('V'), ['level1_diag2']] = 0
df.loc[df['diag_2'].str.contains('E'), ['level1_diag2']] = 0
df.loc[df['diag_3'].str.contains('V'), ['level1_diag3']] = 0
df.loc[df['diag_3'].str.contains('E'), ['level1_diag3']] = 0
df['level1_diag1'] = df['level1_diag1'].replace('?', -1)
df['level1_diag2'] = df['level1_diag2'].replace('?', -1)
df['level1_diag3'] = df['level1_diag3'].replace('?', -1)

In [23]:
df['level1_diag1'] = df['level1_diag1'].astype(float)
df['level1_diag2'] = df['level1_diag2'].astype(float)
df['level1_diag3'] = df['level1_diag3'].astype(float)

In [24]:
for index, row in df.iterrows():
    if (row['level1_diag1'] >= 390 and row['level1_diag1'] < 460) or (np.floor(row['level1_diag1']) == 785):
        df.loc[index, 'level1_diag1'] = 1
    elif (row['level1_diag1'] >= 460 and row['level1_diag1'] < 520) or (np.floor(row['level1_diag1']) == 786):
        df.loc[index, 'level1_diag1'] = 2
    elif (row['level1_diag1'] >= 520 and row['level1_diag1'] < 580) or (np.floor(row['level1_diag1']) == 787):
        df.loc[index, 'level1_diag1'] = 3
    elif (np.floor(row['level1_diag1']) == 250):
        df.loc[index, 'level1_diag1'] = 4
    elif (row['level1_diag1'] >= 800 and row['level1_diag1'] < 1000):
        df.loc[index, 'level1_diag1'] = 5
    elif (row['level1_diag1'] >= 710 and row['level1_diag1'] < 740):
        df.loc[index, 'level1_diag1'] = 6
    elif (row['level1_diag1'] >= 580 and row['level1_diag1'] < 630) or (np.floor(row['level1_diag1']) == 788):
        df.loc[index, 'level1_diag1'] = 7
    elif (row['level1_diag1'] >= 140 and row['level1_diag1'] < 240):
        df.loc[index, 'level1_diag1'] = 8
    else:
        df.loc[index, 'level1_diag1'] = 0
        
    if (row['level1_diag2'] >= 390 and row['level1_diag2'] < 460) or (np.floor(row['level1_diag2']) == 785):
        df.loc[index, 'level1_diag2'] = 1
    elif (row['level1_diag2'] >= 460 and row['level1_diag2'] < 520) or (np.floor(row['level1_diag2']) == 786):
        df.loc[index, 'level1_diag2'] = 2
    elif (row['level1_diag2'] >= 520 and row['level1_diag2'] < 580) or (np.floor(row['level1_diag2']) == 787):
        df.loc[index, 'level1_diag2'] = 3
    elif (np.floor(row['level1_diag2']) == 250):
        df.loc[index, 'level1_diag2'] = 4
    elif (row['level1_diag2'] >= 800 and row['level1_diag2'] < 1000):
        df.loc[index, 'level1_diag2'] = 5
    elif (row['level1_diag2'] >= 710 and row['level1_diag2'] < 740):
        df.loc[index, 'level1_diag2'] = 6
    elif (row['level1_diag2'] >= 580 and row['level1_diag2'] < 630) or (np.floor(row['level1_diag2']) == 788):
        df.loc[index, 'level1_diag2'] = 7
    elif (row['level1_diag2'] >= 140 and row['level1_diag2'] < 240):
        df.loc[index, 'level1_diag2'] = 8
    else:
        df.loc[index, 'level1_diag2'] = 0
    
    if (row['level1_diag3'] >= 390 and row['level1_diag3'] < 460) or (np.floor(row['level1_diag3']) == 785):
        df.loc[index, 'level1_diag3'] = 1
    elif (row['level1_diag3'] >= 460 and row['level1_diag3'] < 520) or (np.floor(row['level1_diag3']) == 786):
        df.loc[index, 'level1_diag3'] = 2
    elif (row['level1_diag3'] >= 520 and row['level1_diag3'] < 580) or (np.floor(row['level1_diag3']) == 787):
        df.loc[index, 'level1_diag3'] = 3
    elif (np.floor(row['level1_diag3']) == 250):
        df.loc[index, 'level1_diag3'] = 4
    elif (row['level1_diag3'] >= 800 and row['level1_diag3'] < 1000):
        df.loc[index, 'level1_diag3'] = 5
    elif (row['level1_diag3'] >= 710 and row['level1_diag3'] < 740):
        df.loc[index, 'level1_diag3'] = 6
    elif (row['level1_diag3'] >= 580 and row['level1_diag3'] < 630) or (np.floor(row['level1_diag3']) == 788):
        df.loc[index, 'level1_diag3'] = 7
    elif (row['level1_diag3'] >= 140 and row['level1_diag3'] < 240):
        df.loc[index, 'level1_diag3'] = 8
    else:
        df.loc[index, 'level1_diag3'] = 0

In [25]:
df.to_csv('./df_diag_imputed.csv', index=False)
#above line takes time to process, making a temp csv

In [26]:
df = pd.read_csv('./df_diag_imputed.csv')
#read the temp file back in

In [27]:
df.sample(5)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,dataset,level1_diag1,level1_diag2,level1_diag3
12201,126616944,92115693,1,0,75,?,3,3,1,8,MC,Family/GeneralPractice,33,5,5,0,0,0,157,197,576,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,0,train,8.0,8.0,3.0
50071,142069488,42271776,1,1,85,?,1,1,7,1,MC,?,32,1,6,0,0,1,415,276,401,4,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,1,train,1.0,0.0,1.0
77328,210604332,93379806,1,0,65,?,2,1,1,4,?,?,30,1,9,0,0,0,486,401,250,4,None,None,No,No,No,No,Down,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,Ch,Yes,0,train,2.0,1.0,4.0
13580,121515102,24047847,1,0,65,?,3,1,1,2,BC,Cardiology,38,1,26,0,0,0,427,250.01,428,4,None,None,Steady,No,No,No,Steady,No,Steady,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,0,train,1.0,4.0,1.0
70225,220151670,109566099,4,1,65,?,3,14,4,1,HM,?,34,0,5,0,0,2,V66,571,303,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,No,Yes,0,train,0.0,3.0,0.0

In [28]:
summarize_feature(df,'max_glu_serum')

  values  counts  frequency
0   None   96417   0.947466
1   Norm    2597   0.025520
2   >200    1485   0.014593
3   >300    1264   0.012421

In [29]:
dict_max_glu_seru = {'None': -999, 
                     'Norm':0, 
                     '>300':2,
                    '>200':1}
df.max_glu_serum.replace(dict_max_glu_seru, inplace=True)
#replace max_glu_serum with numerical values

In [30]:
summarize_feature(df,'max_glu_serum')
#check again

   values  counts  frequency
0    -999   96417   0.947466
1       0    2597   0.025520
2       1    1485   0.014593
3       2    1264   0.012421

In [31]:
summarize_feature(df,'A1Cresult')

  values  counts  frequency
0   None   84745   0.832768
1     >8    8216   0.080737
2   Norm    4990   0.049036
3     >7    3812   0.037460

In [32]:
dict_A1Cresult = {'None': -999, 
                     'Norm':0, 
                     '>7':1,
                    '>8':2}
df.A1Cresult.replace(dict_A1Cresult, inplace=True)
#replace A1C with numerical values

In [33]:
summarize_feature(df,'A1Cresult')
#check again

   values  counts  frequency
0    -999   84745   0.832768
1       2    8216   0.080737
2       0    4990   0.049036
3       1    3812   0.037460

In [34]:
#here we want to note any changes in the dosage of medicine.
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone','metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']
for col in keys:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)
df['med_dosage_change'] = 0
for col in keys:
    colname = str(col) + 'temp'
    df['med_dosage_change'] = df['med_dosage_change'] + df[colname]
    del df[colname]
#here 0 means no changes in doses of medicine, >0 means there is increase or decrease in dosage

In [35]:
df['number_of_medicine'] = 0
for col in keys:
    df['number_of_medicine'] = df['number_of_medicine'] + df[col].apply(lambda x: 0 if (x == 'No') else 1)
#new column to account for the total number of medicine patient is taking

In [36]:
drug_df = df.loc[:, 'metformin':'diabetesMed']
for drug in list(drug_df):
    print('\n'+drug)
    print('-'*50)
    n = summarize_feature(drug_df,  drug)
    print(n)
#values in drug list is has similar values, make 1 library

metformin
--------------------------------------------------
   values  counts  frequency
0      No   81776   0.803593
1  Steady   18345   0.180272
2      Up    1067   0.010485
3    Down     575   0.005650

repaglinide
--------------------------------------------------
   values  counts  frequency
0      No  100224   0.984877
1  Steady    1384   0.013600
2      Up     110   0.001081
3    Down      45   0.000442

nateglinide
--------------------------------------------------
   values  counts  frequency
0      No  101060   0.993092
1  Steady     668   0.006564
2      Up      24   0.000236
3    Down      11   0.000108

chlorpropamide
--------------------------------------------------
   values  counts  frequency
0      No  101677   0.999155
1  Steady      79   0.000776
2      Up       6   0.000059
3    Down       1   0.000010

glimepiride
--------------------------------------------------
   values  counts  frequency
0      No   96572   0.948989
1  Steady    4670   0.045891
2      Up     327   0.003213
3    Down     194   0.001906

acetohexamide
--------------------------------------------------
   values  counts  frequency
0      No  101762    0.99999
1  Steady       1    0.00001

glipizide
--------------------------------------------------
   values  counts  frequency
0      No   89078   0.875348
1  Steady   11355   0.111583
2      Up     770   0.007567
3    Down     560   0.005503

glyburide
--------------------------------------------------
   values  counts  frequency
0      No   91113   0.895345
1  Steady    9274   0.091133
2      Up     812   0.007979
3    Down     564   0.005542

tolbutamide
--------------------------------------------------
   values  counts  frequency
0      No  101740   0.999774
1  Steady      23   0.000226

pioglitazone
--------------------------------------------------
   values  counts  frequency
0      No   94436   0.927999
1  Steady    6975   0.068542
2      Up     234   0.002299
3    Down     118   0.001160

rosiglitazone
--------------------------------------------------
   values  counts  frequency
0      No   95399   0.937463
1  Steady    6099   0.059933
2      Up     178   0.001749
3    Down      87   0.000855

acarbose
--------------------------------------------------
   values  counts  frequency
0      No  101455   0.996973
1  Steady     295   0.002899
2      Up      10   0.000098
3    Down       3   0.000029

miglitol
--------------------------------------------------
   values  counts  frequency
0      No  101725   0.999627
1  Steady      31   0.000305
2    Down       5   0.000049
3      Up       2   0.000020

troglitazone
--------------------------------------------------
   values  counts  frequency
0      No  101760   0.999971
1  Steady       3   0.000029

tolazamide
--------------------------------------------------
   values  counts  frequency
0      No  101724   0.999617
1  Steady      38   0.000373
2      Up       1   0.000010

examide
--------------------------------------------------
  values  counts  frequency
0     No  101763        1.0

citoglipton
--------------------------------------------------
  values  counts  frequency
0     No  101763        1.0

insulin
--------------------------------------------------
   values  counts  frequency
0      No   47380   0.465592
1  Steady   30849   0.303146
2    Down   12218   0.120063
3      Up   11316   0.111200

glyburide-metformin
--------------------------------------------------
   values  counts  frequency
0      No  101057   0.993062
1  Steady     692   0.006800
2      Up       8   0.000079
3    Down       6   0.000059

glipizide-metformin
--------------------------------------------------
   values  counts  frequency
0      No  101750   0.999872
1  Steady      13   0.000128

glimepiride-pioglitazone
--------------------------------------------------
   values  counts  frequency
0      No  101762    0.99999
1  Steady       1    0.00001

metformin-rosiglitazone
--------------------------------------------------
   values  counts  frequency
0      No  101761    0.99998
1  Steady       2    0.00002

metformin-pioglitazone
--------------------------------------------------
   values  counts  frequency
0      No  101762    0.99999
1  Steady       1    0.00001

change
--------------------------------------------------
  values  counts  frequency
0     No   54754   0.538054
1     Ch   47009   0.461946

diabetesMed
--------------------------------------------------
  values  counts  frequency
0    Yes   78361   0.770034
1     No   23402   0.229966

In [37]:
dict_drug = {'No': 0, 
            'Down':1, 
            'Steady':2,
            'Up':3,
             'Ch':1,
             'Yes':1
            }
#replace drug text with numerical value

In [38]:
drug_df = df.loc[:, 'metformin':'diabetesMed']

In [39]:
for drug in drug_df:
    drug_df[drug] = drug_df[drug].map(dict_drug)

In [40]:
df.loc[:, 'metformin':'diabetesMed'] = drug_df

In [41]:
df.sample(5)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,dataset,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine
87211,151721448,56683107,2,1,65,?,3,1,1,2,?,Nephrology,39,3,2,3,0,0,250.4,403,272,4,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,train,4.0,1.0,0.0,0,1
8179,228352584,86350653,1,1,65,?,1,1,7,6,MC,?,64,2,31,1,0,0,491,518,250,9,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,1,0,train,4.0,0.0,0.0,1,1
78525,372542828,135465836,1,1,65,?,2,1,4,10,BC,Cardiology,49,6,38,0,0,0,414,404,585,9,-999,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,train,1.0,1.0,7.0,0,1
88487,188365806,23252634,1,1,75,?,1,1,7,1,MC,Nephrology,43,0,2,0,0,4,518,496,401,9,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,train,2.0,2.0,1.0,0,1
27536,159530844,71324271,1,1,75,?,1,1,7,1,MC,?,27,0,8,0,0,0,493,515,V46,8,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,train,2.0,2.0,0.0,0,0

### Missing Values

In [42]:
df = df.replace('?', np.nan)
#saw in dataset missing value or unknown has '?', will replace with nan

In [43]:
df.isnull().sum().sort_values(ascending=False).head(10)
#list col with missing values

weight                98566
medical_specialty     49947
payer_code            40255
diag_3                 1423
diag_2                  358
diag_1                   21
number_of_medicine        0
number_outpatient         0
repaglinide               0
metformin                 0
dtype: int64

In [44]:
df = df.drop(['weight', 'payer_code', 'medical_specialty'], axis = 1)
#dropping columns with too many missing values

df = df.drop(['examide', 'citoglipton'], axis = 1)
#these 2 drugs were all 'no'

df = df[df.diag_1 != np.nan]
#drop rows where diag_1 is missing

In [45]:
df = df.loc[~df.discharge_disposition_id.isin([11,13,14,19,20,21])]
#11, 13, 14, 19, 20, 21 are patients who are expired so no re-admission possible

In [46]:
df = df.drop(['diag_1', 
              'diag_2', 
              'diag_3'], axis = 1)
#remove the columns that were engineered into other columns

In [47]:
df['random'] = np.random.randint(-999, 999, df.shape[0])
df.random

0         900
1        -678
2          -7
3        -136
4         940
5        -950
6        -693
7         635
8         313
9         662
10        748
11       -815
12         15
13       -487
14       -174
15        500
16        625
17        505
18        605
19        653
20       -507
22       -192
23         48
24        271
25       -155
26       -378
27        975
28       -231
29        129
30        771
31        493
32        656
33        111
34        794
35       -691
36         78
37        261
38         -1
39       -885
40        744
41       -408
42       -791
43       -949
44        -12
45        -65
46       -936
47        158
48       -407
49       -185
50       -779
51        568
52       -759
53        681
54        385
55       -142
56       -563
57        732
58        -71
59       -592
60       -538
61        833
62        766
63       -444
64        968
65       -800
66        601
67        -37
68        738
69        533
70         67
71       -874
73       -213
74       -982
75       -851
76       -890
77       -497
78       -876
80        988
81        427
82         88
83       -134
84        164
85         26
86       -745
87        257
88       -584
89       -627
90        680
91       -161
92       -525
93        687
94       -973
95       -265
96         30
97        162
98        458
99       -728
100      -329
101      -821
102      -255
103        84
104       683
105      -975
106       549
107       301
108      -518
109      -335
110        -4
111       391
112      -521
113       342
114       438
115       248
116        20
118       360
119       -63
120      -107
121      -926
122       -92
123      -979
124       318
125      -994
126      -813
127      -718
128       499
129       797
130       -61
131      -934
132      -230
133       837
134       126
135      -219
136      -143
137      -382
138       366
139       194
140      -670
141       397
142      -435
143       259
144       -33
145       420
146       973
147       420
148      -125
149       601
150       610
151       180
152      -383
153        -1
         ...
101609   -650
101610    336
101611    -19
101612   -155
101613   -181
101614   -373
101615   -319
101616   -483
101617    135
101618   -803
101619    -72
101620    138
101621     63
101622   -918
101623   -313
101624   -602
101625   -479
101626    216
101627    -84
101628    536
101629    359
101630   -973
101631   -159
101632   -177
101633   -418
101634   -723
101635   -959
101636    151
101637    502
101638   -605
101639   -306
101640    383
101641   -926
101642    282
101643   -614
101644    166
101645   -202
101646    211
101647    224
101648    422
101649    689
101650   -756
101651   -622
101652   -566
101653    566
101654   -641
101655   -509
101656   -756
101657   -105
101658   -751
101659   -943
101660    863
101661   -955
101662     81
101664   -847
101665    344
101666   -837
101667    236
101668    509
101669   -807
101670    511
101671   -245
101673   -535
101674   -599
101675    -39
101676    933
101677    -83
101678    903
101679   -460
101680    563
101681    533
101682    256
101683    439
101684    867
101685    726
101686   -693
101687    592
101688    759
101689    647
101690    355
101691     17
101692   -414
101693   -624
101694    -88
101695    635
101696    711
101697    160
101698     71
101699   -236
101700    496
101701    884
101702   -112
101703   -998
101704   -166
101705     73
101706   -277
101707    466
101708    781
101709   -186
101710    836
101711    136
101712   -838
101713    943
101715    562
101716   -989
101717   -492
101718   -348
101719    712
101720   -334
101721   -528
101722    -62
101723   -988
101724    680
101725    702
101726    541
101727   -347
101728   -484
101729   -226
101730   -714
101731    217
101732    507
101733    244
101734   -919
101735   -216
101736    718
101737   -433
101738    280
101739    414
101740    842
101741   -917
101742    239
101743   -208
101744    786
101745   -966
101746    269
101747   -357
101748   -517
101749   -325
101750    985
101751   -248
101752   -562
101753   -427
101754   -144
101755   -237
101756    506
101757    191
101758    220
101760    599
101761    454
101762    152
Name: random, Length: 99340, dtype: int64

In [48]:
df.to_csv('./df1.csv', index=False)

In [76]:
df1 = pd.read_csv('./df1.csv')
#whole dataset, including duplicates

In [77]:
#convert to object dtype
df1[['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'dataset', 'level1_diag1', 'level1_diag2', 'level1_diag3']] = df[['encounter_id', 'patient_nbr', 'race', 'gender', 'age',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'dataset', 'level1_diag1', 'level1_diag2', 'level1_diag3']].astype('object')

In [78]:
print(df1.shape)
df1.describe()

(99340, 49)

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,med_dosage_change,number_of_medicine,random
count,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000,99340.000000
mean,4.379364,42.907198,1.334196,15.979052,0.369257,0.198450,0.630954,7.401752,0.287377,1.187367,0.926636
std,2.968393,19.609887,1.702770,8.094931,1.265160,0.937747,1.260443,1.940990,0.487866,0.922431,577.461904
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-999.000000
25%,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000,0.000000,1.000000,-498.000000
50%,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000,0.000000,1.000000,1.000000
75%,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000,1.000000,2.000000,503.000000
max,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000,4.000000,6.000000,998.000000

In [79]:
df1_train = df1[df1.dataset=='train']
df1_train = df1_train.drop(columns='dataset')
df1_train.sample(5)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine,random
59557,288946914,92671299,1,0,75,1,1,7,4,51,1,16,1,0,1,7,-999,-999,2,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,1,570
82606,72288270,93260781,1,0,65,3,1,1,2,55,0,12,0,0,4,8,-999,-999,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,6,1,0,1,2,-557
76879,41259222,1160811,5,0,75,3,18,4,3,54,0,16,0,0,1,9,-999,1,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,1,0,0,2,926
72079,164722452,18259137,1,0,85,3,5,1,2,45,0,9,0,0,0,6,-999,-999,0,0,0,0,0,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1,1,0,0,7,1,0,1,951
91000,169895724,25067394,2,0,75,1,6,7,14,90,2,14,0,0,0,9,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,1,1,0,1,-771

In [80]:
df1_test = df1[df1.dataset=='test']
df1_test = df1_test.drop(columns='dataset')
df1_test.sample(5)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine,random
92559,205932234,84624678,2,0,35,3,1,1,3,34,2,13,0,0,0,4,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,1,1,0,4,0,0,3,862
92248,184171860,59983740,2,0,15,1,1,7,3,22,1,15,0,0,0,7,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,0,0,4,0,0,586
98883,38452920,522396,1,1,45,1,18,7,5,43,1,13,0,0,0,9,-999,1,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,4,1,0,0,215
95618,137033106,42723954,1,1,85,1,6,7,6,62,2,19,0,0,0,5,-999,-999,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,1,0,3,0,1,0,2,-820
96327,100629174,84434256,1,0,55,3,6,4,2,1,1,15,1,1,3,7,-999,-999,2,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,6,5,0,1,-681

In [81]:
df1_test.to_csv('./df1_test_cleaned.csv', index=False)
df1_train.to_csv('./df1_train_cleaned.csv', index=False)

In [82]:
df1_test.sample(5)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,level1_diag1,level1_diag2,level1_diag3,med_dosage_change,number_of_medicine,random
96365,378458390,111506517,1,1,65,1,28,7,10,95,6,31,0,0,0,9,-999,-999,2,0,0,0,0,0,2,0,0,2,0,0,0,0,0,2,0,0,0,0,0,1,1,0,0,1,0,0,1,-943
94090,157151136,42767190,1,1,15,1,1,7,7,43,2,16,0,0,2,5,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,1,782
98940,85860792,11543022,1,0,65,2,1,1,1,52,0,3,0,0,0,6,-999,2,2,0,0,0,0,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0,1,1,0,5,0,0,0,0,877
93117,178259640,23367105,2,0,85,1,3,7,5,49,1,11,0,0,0,9,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,1,1,0,7,4,0,0,0,856
99024,171322806,24493887,1,0,45,3,1,1,5,26,1,16,0,0,0,7,-999,-999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,5,5,0,0,2,960

In [83]:
encounter_frequency = pd.DataFrame(df1.patient_nbr.value_counts())
encounter_frequency = encounter_frequency.reset_index()
encounter_frequency

           index  patient_nbr
0       88785891           40
1       43140906           25
2       23199021           23
3       88227540           23
4        1660293           22
5       84428613           21
6       23643405           21
7       88789707           20
8       92709351           20
9       23398488           20
10      89472402           20
11      29903877           20
12      90609804           20
13      37096866           20
14      88681950           19
15      97391007           19
16      91160280           18
17      91751121           18
18       3481272           18
19     106757478           17
20      88479036           17
21      41699412           17
22      90489195           17
23      90164655           16
24      84348792           16
25       3401055           16
26      24011577           16
27      41617368           16
28     110463471           15
29        362610           15
30      85232619           15
31      84676248           15
32      16156494           15
33      34248474           15
34        384939           15
35     103832127           14
36      41717169           14
37      84397842           14
38      86931513           14
39      91776843           14
40      88410879           14
41       2486844           14
42      88533495           13
43      62352252           13
44     106526691           13
45      42915474           13
46        103140           13
47      40595031           13
48      40373325           12
49       1743480           12
50      95652576           12
51      24767658           12
52     109448541           12
53      25151994           12
54      42031656           12
55      30224430           12
56       5207247           12
57      45305631           12
58      80811567           12
59       1530720           12
60      23419566           12
61      41744394           12
62      23481783           12
63      42567840           12
64      89308323           11
65      97019901           11
66     100653390           11
67      41220999           11
68      40958892           11
69      41371992           11
70      93205692           11
71      39501135           11
72      41041530           11
73     102553218           11
74      41166342           11
75      23885352           11
76      41095215           11
77      23195241           11
78      23923377           11
79      89964018           11
80      33379713           11
81      90052641           11
82      94072113           11
83      88844373           11
84      89710911           11
85      88692750           11
86      42941232           11
87      85901769           11
88      67194522           11
89        633906           11
90      89612235           11
91      50293827           11
92      36919926           10
93      41843502           10
94         30735           10
95       6884595           10
96        417618           10
97       3538080           10
98      95580126           10
99      85570542           10
100     28275534           10
101     86186484           10
102     42513462           10
103     91241361           10
104     84466854           10
105      3227184           10
106    103827771           10
107    102500595           10
108     84428901           10
109      2448531           10
110     23718141           10
111     44318196           10
112     23233167           10
113     15749334           10
114     23190084           10
115     41147883           10
116    114262794           10
117     86095062           10
118     25069554           10
119    103305528           10
120     30967569           10
121     41172228           10
122     91832562           10
123      8041437           10
124     42304734           10
125     37072377           10
126     23345361           10
127     23239827            9
128     23915196            9
129      3611988            9
130     90751788            9
131     91945008            9
132        45144            9
133     13532292            9
134     84562623            9
135     94062717            9
136     41363946            9
137     43332093            9
138    102287439            9
139     91394082            9
140     24401799            9
141     85495860            9
142     91581660            9
143      4042314            9
144       276606            9
145     91107549            9
146      2594745            9
147     29401542            9
148     23571540            9
149     77554278            9
...          ...          ...
68551   18038484            1
68552     212688            1
68553   16072398            1
68554  105856713            1
68555    4144914            1
68556   37830420            1
68557   19041876            1
68558   23412501            1
68559    8208234            1
68560   24985449            1
68561   96972003            1
68562  108216162            1
68563   62734176            1
68564  180698972            1
68565   79511382            1
68566   11246310            1
68567   87637842            1
68568   89540154            1
68569    4793733            1
68570   16727886            1
68571   15810381            1
68572   51068745            1
68573   79642440            1
68574   28000071            1
68575   42680133            1
68576    1261377            1
68577   58277691            1
68578  103235382            1
68579   79511346            1
68580   58670892            1
68581  100613925            1
68582   77807394            1
68583   11353887            1
68584   23412717            1
68585   77818050            1
68586   16047981            1
68587   74137833            1
68588   40452327            1
68589   85803237            1
68590   62734563            1
68591    1655010            1
68592  113983713            1
68593   51108120            1
68594   72951741            1
68595   43991253            1
68596  104677587            1
68597   45957330            1
68598   56836305            1
68599   78702129            1
68600   23675085            1
68601   70729929            1
68602    1917126            1
68603   87113925            1
68604   19458378            1
68605  141377729            1
68606   86962716            1
68607  134610917            1
68608   70992054            1
68609  115032240            1
68610  141377711            1
68611    4014252            1
68612  102187179            1
68613   43729128            1
68614   59545827            1
68615   64831653            1
68616   23937264            1
68617   78201135            1
68618   40929624            1
68619   38748456            1
68620   93274407            1
68621   43860258            1
68622   94615155            1
68623   69157152            1
68624   66142494            1
68625  152454722            1
68626   23638797            1
68627  141377810            1
68628   23063247            1
68629   33243408            1
68630     924912            1
68631   69419277            1
68632   82919691            1
68633   71778564            1
68634  106250499            1
68635   24985854            1
68636   92487933            1
68637   58540284            1
68638      82170            1
68639  108871929            1
68640  113197302            1
68641   61364322            1
68642   38748330            1
68643   49365153            1
68644    9781236            1
68645   94453839            1
68646    4407372            1
68647   21053511            1
68648   20136006            1
68649   73865367            1
68650  111886398            1
68651   33636411            1
68652   76496004            1
68653   95633460            1
68654   14762034            1
68655  152518703            1
68656   69654042            1
68657   18825255            1
68658   52288488            1
68659   58802211            1
68660   84099105            1
68661   85803039            1
68662   94188933            1
68663   60637212            1
68664   48185370            1
68665   42756912            1
68666   23856075            1
68667    4014090            1
68668   30097413            1
68669  100298808            1
68670   60368787            1
68671   60506190            1
68672    7815249            1
68673    8601759            1
68674   23323671            1
68675    4145310            1
68676   84623517            1
68677   99324711            1
68678   19349658            1
68679  181686029            1
68680   75752478            1
68681   44908686            1
68682   20267145            1
68683   94453893            1
68684  106535988            1
68685   14631039            1
68686  112803966            1
68687   68632695            1
68688  101924982            1
68689   89169516            1
68690    6766704            1
68691   19853829            1
68692   58802283            1
68693   43204707            1
68694   23674977            1
68695   85540959            1
68696   89613999            1
68697  101007450            1
68698    1130580            1
68699   91045971            1
68700  107937693            1

[68701 rows x 2 columns]

In [84]:
encounter_frequency.rename(columns = {'index':'patient_nbr', 'patient_nbr':'encounter_frequency'}, inplace = True) 
encounter_frequency.patient_nbr = encounter_frequency.patient_nbr.astype('object')

In [89]:
df2 = df1.drop_duplicates(subset= ['patient_nbr'], keep = 'first')
df2.shape
#df2 will drop

(68702, 49)

In [90]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68702 entries, 0 to 99339
Data columns (total 49 columns):
encounter_id                68701 non-null object
patient_nbr                 68701 non-null object
race                        68701 non-null object
gender                      68701 non-null object
age                         68701 non-null object
admission_type_id           68701 non-null object
discharge_disposition_id    68701 non-null object
admission_source_id         68701 non-null object
time_in_hospital            68702 non-null int64
num_lab_procedures          68702 non-null int64
num_procedures              68702 non-null int64
num_medications             68702 non-null int64
number_outpatient           68702 non-null int64
number_emergency            68702 non-null int64
number_inpatient            68702 non-null int64
number_diagnoses            68702 non-null int64
max_glu_serum               68701 non-null object
A1Cresult                   68701 non-null object
metformin                   68701 non-null object
repaglinide                 68701 non-null object
nateglinide                 68701 non-null object
chlorpropamide              68701 non-null object
glimepiride                 68701 non-null object
acetohexamide               68701 non-null object
glipizide                   68701 non-null object
glyburide                   68701 non-null object
tolbutamide                 68701 non-null object
pioglitazone                68701 non-null object
rosiglitazone               68701 non-null object
acarbose                    68701 non-null object
miglitol                    68701 non-null object
troglitazone                68701 non-null object
tolazamide                  68701 non-null object
insulin                     68701 non-null object
glyburide-metformin         68701 non-null object
glipizide-metformin         68701 non-null object
glimepiride-pioglitazone    68701 non-null object
metformin-rosiglitazone     68701 non-null object
metformin-pioglitazone      68701 non-null object
change                      68701 non-null object
diabetesMed                 68701 non-null object
readmitted                  68701 non-null object
dataset                     68701 non-null object
level1_diag1                68701 non-null object
level1_diag2                68701 non-null object
level1_diag3                68701 non-null object
med_dosage_change           68702 non-null int64
number_of_medicine          68702 non-null int64
random                      68702 non-null int64
dtypes: int64(11), object(38)
memory usage: 26.2+ MB

In [91]:
df2 = pd.merge(df2, encounter_frequency, left_on='patient_nbr', right_on='patient_nbr')

#df2 keeps only the first encounter and has a new feature 'encounter_frequency'

In [92]:
df2_train = df2[df2.dataset=='train']
df2_train = df2_train.drop(columns='dataset')
df2_test = df2[df2.dataset=='test']
df2_test = df2_test.drop(columns='dataset')


df2_test.to_csv('./df2_test_cleaned.csv', index=False)
df2_train.to_csv('./df2_train_cleaned.csv', index=False)